::-webkit-input-placeholder {
    color: #c2c6ce;
    text-align: center;
    font-size: 20px;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #c2c6ce;
    text-align: center;
    font-size: 20px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #c2c6ce;
    text-align: center;
    font-size: 20px;
}
:-ms-input-placeholder {
    color: #c2c6ce;
    text-align: center;
    font-size: 20px;
}

.brand-heading {
    color: black;
    opacity: .37;
    margin-bottom: 25px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.ghost-button {
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    width: 300px;
    padding: 16px;
    color: black;
    opacity: .67;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.navbar-custom a {
    color: black;
    opacity: .53;
    transition: color 0.2s ease-out;
}

.navbar-custom a:hover {
    color: white;
    opacity: .87;
    transition: color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#home {
    margin-top: 16px;
}

.padme{
  padding-top: 10px;
}

.boxed {
    border: 6px solid;
    border-color: #767F49;
    height: 70px;
    font-size: 20px;
    border-radius: 6px;
    color: black;
    opacity: .53;
    padding: 8px;
}
.alignleft {
    float: left;
    font-size: 20px;
    padding-left: 5px;
}
.alignright {
    float: right;
    font-size: 20px;
    padding-right: 5px;
}

.navbar-custom a {
    color: black;
    opacity: .53;
    transition: color 0.2s ease-out;
}

.navbar-custom a:hover {
    color: white;
    opacity: .87;
    transition: color 0.2s ease-out;
}

.brand-heading2 {
    color: black;
    opacity: .37;
    margin-bottom: 25px;
    font-size: 100px;
}

body {
  overflow: hidden;
  margin: 0;
}

.analysis-container {
  width: 90%;
  padding-top: 15vh;
  margin: 0 auto;
}

#chart {
  top: 50px;
  left: 0px;
  float: left;
}

#dailystats {
  width: 40%;
  height: 75vh;
  /*border: 10px solid blue;*/
  font-size: 30px;
  padding: 15px;
  color: black;
  opacity: .57;
  float: right;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: 7vw;
    overflow-y: auto;
}

.boxed a {
    color: #337ab7;
}