{% extends "layout.html" %}

{% block content %}

<!-- Intro Header -->
<header class="intro">
    <div class="animsition">
        <div class="analysis-container">
          <div id="chart"></div>
          <div id="dailystats"></div>
        </div>
    </div>
</header>

{% endblock %}

{% block scripts %}
  <!-- d3 -->
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <!-- radarjs -->
  <script src="{{url_for('static', filename="RadarChart.js")}}"></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript" src="{{url_for('static', filename="RadarChartScript.js")}}"></script>
{% endblock %}
