{% extends "layout.html" %}

{% block content %}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="animsition">
            <div class="container">
                <div class="row">
                  <h1 align="center" class="brand-heading">Introspection</h1>
                    <div class="col-md-8 col-md-offset-2">

                        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
                          <d1>
                        <dd><textarea name = "text" class="form-control" id="textarea" style="width: 750px; height: 400px;" placeholder = "How are you feeling today?"></textarea>

                          <div class="padme"
                        <dd><input type="submit" class="ghost-button" value="Remember" >
                        </div>

                        </d1>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- jQuery -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ url_for('static', filename='js/grayscale.min.js')}}"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- animsition.js -->
<script src="{{ url_for('static', filename='animsition-master/src/js/animsition.js')}}"></script>


<script>
    $(document).ready(function() {
      $(".animsition").animsition({
        inClass: 'fade-in-down',
        outClass: 'fade-out-down',
        inDuration: 1000,
        outDuration: 500,
        linkElement: '.animsition-link',
        // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
        loading: true,
        loadingParentElement: 'body', //animsition wrapper element
        loadingClass: 'animsition-loading',
        loadingInner: '', // e.g '<img src="loading.svg" />'
        timeout: false,
        timeoutCountdown: 5000,
        onLoadEvent: true,
        browser: [ 'animation-duration', '-webkit-animation-duration'],
        // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
        // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
        overlay : false,
        overlayClass : 'animsition-overlay-slide',
        overlayParentElement : 'body',
        transition: function(url){ window.location.href = url; }
      });
    });
</script>

